.threeColumnsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/3ColumnsBackground.png);
}

.threeColumnsSection {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  flex-basis: 20%;
  text-align: center;

  h2 {
    font-size: 8rem;
    color: $black;
    font-weight: 100;
    padding-bottom: 50px;

  }
  h3 {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    color: $grey;
    padding-bottom: 50px;
  }
  p {
    font-size: 1.6rem;
    font-family: $font-alt;
    line-height: 1.8rem;
    color: $grey;
    font-weight: 300;
    word-break: break-all;
  }
}